/* DESKTOP CONFIGURATION ---------------------------------------------------------*/
	@media screen and (min-width: 1024px)
	{
		:root{

		/* GENERAL FONT SITTING ---------------------------------------------------------*/
			--article_comment_font_size: 13px;
			--article_font_size : 20px;
			--article_underline_size : 1.5em;

		/* GENERAL SCREEN SIZE ---------------------------------------------------------*/
			--general_width: 1024px;

			/* TOP FLOOR ---------------------------------------------------------*/
			--article_preview_width : 730px;
			--article_preview_height : 280px;
			--article_preview_drawers_width : 285px;
			--article_preview_top_width : 440px;

			/* GROUND FLOOR ---------------------------------------------------------*/
			--article_preview_avatar_size : 40px;

			/* ARTICLE PREVIEW SHARING ---------------------------------------------------------*/
			--article_preview_sharing_button_size : 30px;
			--article_preview_sharing_button_logo_size : 16px;

			--article_preview_sharing_box_height : 55px;
			--article_preview_sharing_box_width : 248px;

			--article_share_square_width : 24px;
			--article_share_square_height : 24px;

			--social_items_photo_width : 20px;

		/* ARTICLE PREVIEW PADDING ---------------------------------------------------------*/
			--article_preview_padding_top : 39px;
			--article_preview_padding_bottom : 32px;
			--article_preview_padding_left : 40px;
			--article_preview_padding_right : 40px;

		/* ARTICLE PREVIEW INFORMATIONS ---------------------------------------------------------*/
			--article_preview_informations_orientation : column;
			
		/* ARTICLE PREVIEW MARGINS ---------------------------------------------------------*/
			--article_preview_bottom_margin_top : 5px;
			--article_preview_bottom_profil_margin_left : 16px;
			--article_preview_bottom_margin_bottom : 0px;
			
			--social_items_margin_left : 22px;
			--social_items_margin_left : 15px;	
	}
