/* GENERAL SETTING ---------------------------------------------------------*/
	@font-face {
		font-family: "Manrope";
		src: url("./font/Manrope-VariableFont_wght.ttf") format("truetype");
		 font-weight: 400 700;
	}

	:root
	{

		/* GENERAL COLORS ---------------------------------------------------------*/
		--very_dark_grayish_blue: hsl(217, 19%, 35%);
		--desaturated_dark_blue: hsl(214, 17%, 51%);
		--grayish_blue: hsl(212, 23%, 69%);
		--light_grayish_blue: hsl(210, 46%, 95%);
		--white : hsl(0,100%,100%);


		/* GENERAL FONT SITTING ---------------------------------------------------------*/
		--article_font : 'Manrope', 'Arial', 'Sans-serif';
		--article_font_strong_color : var(--very_dark_grayish_blue);
		--article_font_light_color : var(--desaturated_dark_blue);

		font-size: var(--article_title_font_size);
	}

/* HTML SETTING ---------------------------------------------------------*/
	body
	{
		display: flex;
		flex-direction: column;

		background-color: var(--light_grayish_blue);

		height: 100vh;
		width: 100vw; 

		font-family: var(--article_font);
		font-size: var(--article_font_size);
	}

	article
	{
		display: flex;
		background-color: var(--white);

		margin-right: auto;
		margin-left: auto;
		margin-top: auto;
		margin-bottom: auto;
		width: var(--article_preview_width);
		height: var(--article_preview_height);

		border-radius: 10px;
	}

	button 
	{
		background-color: inherit;
		border: inherit;
		padding: inherit;
		outline-style:none;
	}

	li 
	{
		list-style: none;
	}

/* GENERALS CLASS ---------------------------------------------------------*/
	.rotate45
	{
		transform: rotate(45deg);
	}

	.article_box_shadow 
	{
		box-shadow: 16px 16px 16px hsl(220, 46%, 90%);
	}

	.cut-image
	{
		width: var(--article_preview_drawers_width);
		height: 100%;
		overflow: hidden;
	}

	.square 
	{
		width: var(--article_share_square_width);
		height: var(--article_share_square_height);
		background-color: var(--very_dark_grayish_blue);

		position: absolute;
		bottom: -12px;

		visibility: hidden;

		margin : 0;
		padding: 0;
	}


/* TIPPY BOX ---------------------------------------------------------*/
	.tippy-box[data-theme~='sharingBox'] 
	{

		width: var(--article_preview_sharing_box_width);
		height: var(--article_preview_sharing_box_height);
		margin: 0;
		padding: 0;

		border-radius: 10px;
		background-color: var(--very_dark_grayish_blue);
	}

	.tippy-box[data-theme~=sharingBox][data-placement^=top] > .tippy-arrow::before {
	  border-top-color: var(--very_dark_grayish_blue);
	}

	.tippy-box[data-theme~=sharingBox][data-placement^=bottom] > .tippy-arrow::before {
	  border-bottom-color: var(--very_dark_grayish_blue);
	}

	.tippy-box[data-theme~=sharingBox][data-placement^=left] > .tippy-arrow::before {
	  border-left-color: var(--very_dark_grayish_blue);
	}

	.tippy-box[data-theme~=sharingBox][data-placement^=right] > .tippy-arrow::before {
	  border-right-color: var(--very_dark_grayish_blue);
	}

/* ID ---------------------------------------------------------*/
	#facebook {
		margin-left: var(--social_items_margin_left);
	}

	#facebook, #twitter {
		margin-right: var(--social_items_margin_left);
	}


/* ARTICLE PREVIEW INFORMATION---------------------------------------------------------*/
	.article_preview_informations 
	{
		display: flex;
		flex-direction: var(--article_preview_informations_orientation);
		width: var(--article_preview_top_width);
		height: var(--article_preview_height);
	}

/* DRAWERS SETTING ---------------------------------------------------------*/
	.article_preview_drawers
	{
		width: auto;
		height: 100%;

		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

/* TOP FLOOR ---------------------------------------------------------*/
	.article_preview_top
	{
		width: auto;
		height: auto;
		
		padding-bottom: 0;
		padding-top: var(--article_preview_padding_top);
		padding-left: var(--article_preview_padding_left);
		padding-right: var(--article_preview_padding_right);
	}

	.article_preview_top_title
	{
		font-size: var(--article_font_size);
		color: var(--article_font_strong_color);
		width: 100%;
		margin-top: 0;
	}

	.article_preview_top_description
	{
		font-size: var(--article_comment_font_size);
		color: var(--article_font_light_color);
		line-height: var(--article_underline_size);

	}

/* GROUND FLOOR ---------------------------------------------------------*/
	.article_preview_bottom
	{
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-bottom: var(--article_preview_padding_bottom);
		padding-top: 0;
		padding-left: var(--article_preview_padding_left);
		padding-right: var(--article_preview_padding_right);

		margin-top: var(--article_preview_bottom_margin_top);

	}

	/* PROFIL ---------------------------------------------------------*/
	.article_preview_bottom_profil_avatar
	{
		width: var(--article_preview_avatar_size);
		height: var(--article_preview_avatar_size);

		border-radius: 50%;
	}

	.article_preview_bottom_profil
	{
		display: flex;
		align-items: center;

	}

	/* IDENTITY ---------------------------------------------------------*/
	.article_preview_bottom_profil_identity
	{
		display: flex;
		flex-direction: column;

		margin-left: var(--article_preview_bottom_profil_margin_left);
	}

	.article_preview_bottom_profil_identity_name
	{
		font-weight: bold;
		font-size: var(--article_comment_font_size);
		color: var(--article_font_strong_color);

		margin-bottom: var(--article_preview_bottom_margin_bottom);

	}

	.article_preview_bottom_profil_identity_postDate
	{
		font-size: var(--article_comment_font_size);
		color: var(--article_font_light_color);
	}
	
	/* SHARE ---------------------------------------------------------*/
	.article_preview_sharing_button_circle
	{
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		background-color: var(--light_grayish_blue);
		border-radius: 50%;

		width: var(--article_preview_sharing_button_size);
		height: var(--article_preview_sharing_button_size); 

	}

	.article_preview_sharing_button
	{

		width: auto;
		height: var(--article_preview_sharing_button_logo_size);
	}

	.article_preview_bottom_profil_share
	{	
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 35px;

		letter-spacing: 0.5em;
		color: var(--grayish_blue);
		font-size: var(--article_comment_font_size);
		
	}







